{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Sightseeing - GOST </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href=" {% static 'Map.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    </head>
    <body>
        <div class="wrap">
            <aside class="left">
                <div id="map"></div>
            </aside>

        <main class="right">
            <section class="dest">
                <div class="dest-head">
                    <h3>Destinations</h3>
                    <button id="btnDraw" class="btn">Draw route</button>
                </div>

                <div class="coord-input">
                    <input id="coordInput" type="text" placeholder="Enter coordinates (lat, lon)" />
                    <ul id="suggestions" class="suggestions-list"></ul>
                </div>

                <ul id="destList" class="dest-list"> </ul>
            </section>

            <section class="image-box">
                <img id="placeImage" src = '{% static 'images/HCMUS.jpg' %}' alt="Preview">
            </section>
        </main>
  </div>

        {% comment %} thư viện để đọc mã của api trả về của OpenRouteService {% endcomment %}
        <script src="https://unpkg.com/@mapbox/polyline@1.2.1/src/polyline.js"></script>

        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src = "{% static 'Map.js' %}" > </script>
    </body>
</html>