{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sightseeing - GOST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'Map.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div id="panels-container"></div>

    <template id="panel-template">
        <div class="wrap">
            <aside class="left">
                <div class="map"></div>
            </aside>
            <main class="right">
                <section class="dest">
                    <div class="dest-head">
                        <h3>Destinations</h3>
                        <button class="btn draw-btn">Draw route</button>
                    </div>
                    <ul class="dest-list"></ul>
                </section>
                <section class="image-box">
                    <img class="place-image" src="{% static 'images/HCMUS.jpg' %}" alt="Preview">
                </section>
            </main>
        </div>
    </template>

    <script src="https://unpkg.com/@mapbox/polyline@1.2.1/src/polyline.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'Map.js' %}"></script>
</body>
</html>