{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'Map.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    </head>
    <body class="map-page-layout">

    <div class="main-layout">

        <!-- Cột trái -->
        <div class="left-panel">

            <!-- Tìm kiếm -->
            <div id="search-panel">
                <h1>Tìm kiếm Địa điểm</h1>
                <input type="text" id="location-search" placeholder="Nhập địa điểm...">
                <button id="search-button">Tìm</button>
            </div>

            <div id="address-info">
                <h2>Thông Tin Địa Chỉ</h2>
                <p id="search-address"><strong>Địa chỉ:</strong> --</p>
            </div>

            <div id="lat-lon-info">
                <h2>Thông tin Tọa độ</h2>
                <p id="lat"><strong>Vĩ Độ:</strong> --</p>
                <p id="lon"><strong>Kinh Độ:</strong> --</p>
            </div>
            <!-- Thời tiết -->
            <div id="weather-info">
                <h2>Thời tiết hiện tại</h2>
                <p id="weather-temp"><strong>Nhiệt độ:</strong> --</p>
                <p id="weather-humidity"><strong>Độ ẩm:</strong> --</p>
                <p id="weather-wind"><strong>Tốc độ gió:</strong> --</p>
            </div>

        </div>

        <!-- Cột phải: Bản đồ -->
        <div class="right-panel">
            <div id="map" data-key="{{ MAP_KEY }}"></div>
        </div>

    </div>


    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="" async defer></script>
    <script src="{% static 'Map.js' %}" ></script>
    </body>
</html>