.route main { 
    display: flex; 
    flex-direction: column; 
    flex: 1;
    margin: 0;
    padding: 0;
}

.route #map { 
    flex: 1 1 auto; 
    min-height: 0;
    width: 60%;
    margin: 0;
}

/* xóa margin của footer */
body.route footer.footer {
    margin-top: 0;
}

.route-container {
    display: flex;
    height: calc(100vh - 80px);
}

/* Left info panel */
.trip-panel {
    width: 40%;
    flex-shrink: 0;
    background: #fff;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    padding: 1rem 1.5rem;
}

.trip-header img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.trip-title h1 {
    font-size: 1.4rem;
    margin: 0;
}


/* Sections */
.trip-section {
  margin-top: 1.5rem;
}
.trip-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Flight Card */
.flight-card {
    background: #f3f7f6;
    border-radius: 10px;
    padding: 12px 14px;
    margin-bottom: 12px;
}