{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <title> Sightseeing - GOST </title>
        {% comment %} giúp hiển thị giao diện web trên mobile {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "{% static 'Main.css' %}?v=3">
    </head>
    <body>
        <img class="hero-img" src="{% static 'images/image_page.jpg' %}">


        <button id="ButtonHome">Home</button>
        <button> Discover </button>
        <button> About Us </button>
        <button> Contact </button>

        <p>Welcome, {{ request.user.username }}</p>

        <a href="{% url 'logout' %}">Sign Out</a> <br>
        <a href = "MapScreen/" > Go to map </a> <br>
        <a href = "/PreferenceScreen/" > Go to preference </a>
        {% include 'app/chat_widget.html' %}
        <script src = "{% static 'Main.js' %}" > </script>
        {% include 'common/footer.html' %}
    </body>
</html>