{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <title> Sightseeing - GOST </title>
        {% comment %} giúp hiển thị giao diện web trên mobile {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "{% static "Main.css" %}?v=2">
    </head>
    <body>
        <h2> Screen Main </h2>
        <script src="" async defer></script>

        <p>Welcome, {{ request.user.username }}</p>

        <a href="{% url 'logout' %}">Sign Out</a>
        <a href = "MapScreen/" > Go to map </a>
        <a href = "/PreferenceScreen/" > Go to preference </a>

        {% include 'app/chat_widget.html' %}
    </body>
</html>