{% extends "common/base.html" %}
{% load static %}

{% block title %} Discover Page {% endblock %}

{% block body_class %} {% endblock %}

{% block extra_css %}
    <link rel = "stylesheet" href = "{% static 'discover.css' %}">
{% endblock %}

{% block content %}
    <header class="hero">
    <img class="hero__img" src="{% static 'images/Discover.jpg' %}" alt="Vietnam HCMC">
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <h1 >Discover</h1>
    </div>
    </header>

    <div class="container">
        <div class="description">
            <div class="content" id="content1">
                <h2>Independence Palace</h2>
                <p>
                    On June 25, 1976, the Independence Palace was recognized as a National Cultural and Historical Relic (77A/VHQD Decision). It was then designated a National Special Relic on August 12, 2009 by Vietnam’s Prime Minister (1272/QD-TTg Decision). The Independence Palace is among Vietnam’s first ten special national relics.
                    <br>
                    Reunification Hall is the management agency for the Independence Palace. Pursuant to Decision 709/QĐ-VPCP dated June 14, 2013 by the Minister, Chairman of the Government Office, Reunification Hall is a state-run business unit tasked with Palace management and preservation; as well as serving delegations attending government, Party, and State meetings, conferences, and other functions.
                </p>
                <img src="{% static 'images/Independence_Palace.jpg' %}" alt="Independence Palace (Dinh Doc Lap)">
            </div>
            <div class="content" id="content02">
                <h2>War Remnants Museum</h2>
                <p>
                    The War Remnants Museum, established on September 4, 1975, is a member of the Vietnam Museum System, INMP and ICOM. The museum specializes in researching, collecting, preserving and displaying evidence of crimes and consequences of the war of aggression against Vietnam, thereby calling for awareness against unjust wars, protecting peace and promoting solidarity between nations. With 9 permanent exhibition themes, many short-term, mobile exhibitions and activities to interact with war witnesses, the Museum welcomes nearly 1 million visitors each year and is a cultural - tourism destination that attracts a large number of domestic and foreign public.
                </p>
                <img src="{% static 'images/War_Remnants_Museum.jpg' %}" alt="War Remnants Museum (Bao tang chung tich chien tranh)">
            </div>
            <div class="content" id="content03">
                <h2>Ben Thanh Market</h2>
                <p>
                    Ben Thanh Market stands as Ho Chi Minh City's most iconic landmark and Vietnam's premier traditional market experience, representing over a century of authentic Vietnamese commerce and culture. Established in 1914 during the French colonial period, this historic 13,000-square-meter marketplace serves as the cultural heart of Saigon, welcoming over 15,000 visitors daily from around the world to explore authentic Vietnamese craftsmanship, cuisine, and traditional commerce in the bustling center of District 1.
                </p>
                <img src="{% static 'images/Ben_Thanh_Market.jpg' %}" alt="Cho Ben Thanh">
            </div>
            <div class="content" id="content04">
                <h2>Notre Dame Cathedral of Saigon</h2>
                <p>
                    Two of Saigon`s most picturesque colonial buildings are found right next to each other, in the center of the city. The Central Post Office and the Notre-Dame Cathedral. <br>
                    Notre Dame Cathedral in Vietnam is honored as one of the world's 19 most majestic cathedrals, the only representative from Southeast Asia. This long-lasting masterpiece, seen as the architectural symbol of Ho Chi Minh City, hosts a flock of new tourists every day who seek ancient grandeur, holiness, and enchanting photography spots.
                </p>
                <img src="{% static 'images/Notre_Dame_Cathedral.jpg' %}" alt="Nha tho Duc Ba">
                <br>
                <p>
                    Saigon Central Post Office is notable for its perfect combination of neo-classical European architecture and Asian decorations. This magnificent post office attracts a large number of domestic and foreign visitors, making it a must-see when you are in Ho Chi Minh City.
                </p>
                <img src="{% static 'images/Central_Post_Office.jpg' %}" alt="Buu Dien Trung Tam">
            </div>
        </div>

        <div class="right-column">
            <div class="map">
                <h3>Choose your place</h3>
                <img src="{% static 'images/tmp_map.jpg' %}" alt="map saigon">
            </div>

            <div class="slideshow">
                <h2>Others</h2>
                <div class="places" id="place01">
                    <h3>Independence Palace</h3>
                    <img src="{% static 'images/independencepalace.jpg' %}" alt="suoitien">
                    <p>Ben Thanh ward, Ho Chi Minh city</p>
                </div>
                <div class="places" id="place02">
                    <h3>War Remnants Museum</h3>
                    <img src="{% static 'images/warremnantsmuseum.jpg' %}" alt="suoitien">
                    <p>Xuan Hoa ward, Ho Chi Minh city</p>
                </div>
                <div class="places" id="place03">
                    <h3>Ben Thanh Market</h3>
                    <img src="{% static 'images/benthanhmarket.jpg' %}" alt="suoitien">
                    <p>Ben Thanh ward, Ho Chi Minh city</p>
                </div>
                <div class="places" id="place03">
                    <h3>Notre Dame Cathedral and Central Post Office</h3>
                    <img src="{% static 'images/notredamepostoffice.jpg' %}" alt="suoitien">
                    <p>Sai Gon ward, Ho Chi Minh city</p>
                </div>
                <div class="places" id="place05">
                    <h3>Suoi Tien Amusement Park</h3>
                    <img src="{% static 'images/tmp_suoitien.jpg' %}" alt="suoitien">
                    <p>Tang Nhon Phu ward, Ho Chi Minh city</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block extra_js %}
            <script src = "{% static 'discover.js' %}" > </script>
{% endblock %}