{% extends "common/base.html" %}
{% load static %}

{% block title%} Register - GOST {% endblock %}

{% block body_class %} register-page {% endblock %}

{% block extra_css %}
<link rel = "stylesheet" href = "{% static 'register.css' %}">
{% endblock %}

{% block content %}
    <div class="register-container">
        <div class="register-card">
            <h2> Register </h2>
            <input type = "text" id = "username" placeholder = "Username">
            <input type = "password" id = "password" placeholder = "password">
            <div id = "message"> </div>
            <button id = "register"> Register </button>

            <p class="signin-link">Have an account? <a href="/">Login</a></p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>
    <script src = "{% static 'register.js' %}" > </script>
{% endblock %}