h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #276968;

    text-align: center;
}

.form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}