.hero {
    position: relative;
    width: 100%;
    height: 50vh; /* cho ảnh phủ đủ màn hình*/
    overflow: hidden;
}
.hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* giữ tỉ lệ ảnh crop tự nhiên không méo */
    object-position: center; /*giữ phần trung tâm của ảnh*/
    z-index: -1;
}
.hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}
.hero__content {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif; /*font cho nội dung chữ bên trong*/
}
.hero__content h1 {
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 800;
    margin-bottom: 10px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    min-width: 0;
}

.right-column {
    width: 40%;
}

.cards {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;

    max-width: 100%;
    padding: 10px 0;
    box-sizing: border-box;

    flex-wrap: nowrap;
}

.thumb {
    flex: 0 0 220px;
    scroll-snap-align: center;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    cursor: pointer;
    text-align: center;
}

.thumb img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.thumb h3 {
    margin-top: 8px;
    font-size: 16px;
}

.thumb:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.detail-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    margin: 20px 0;
}
.detail-card img {
    width: 100%;
    height: auto;          /* keep correct proportions */
    max-height: 350px;     /* prevents huge images */
    object-fit: cover;
    border-radius: 12px;
    margin-top: 14px;
}

#map {
    width: 90%;
    height: 760px;
    margin: 20px;
    top: 20px;
    align: center;
}

.map h3 {
    text-align: center;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: white;
    border: none;
    font-size: 32px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.slider-btn.left {
    left: 0;
}

.slider-btn.right {
    right: 0;
}

* {box-sizing:border-box}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}