.hero {
    position: relative;
    width: 100%;
    height: 50vh; /* cho ảnh phủ đủ màn hình*/
    overflow: hidden;
}
.hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* giữ tỉ lệ ảnh crop tự nhiên không méo */
    object-position: center; /*giữ phần trung tâm của ảnh*/
    z-index: -1;
}
.hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}
.hero__content {
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif; /*font cho nội dung chữ bên trong*/
}
.hero__content h1 {
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 800;
    margin-bottom: 10px;
}

.description {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 500px;
    margin-bottom: 50px;
}

#content02 {
    display: none;
}

.map {
    position: absolute;
    margin-left: 1000px;
    margin-top: -450px;
    margin-bottom: 50px;
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.map img {
    width: 400px;
    height: 280px;
}
.map h3 {
    text-align: center;
}

.slideshow {
    margin-left: 1000px;
}
#place03 {
    padding-top: 10px;
    padding-left: 10px;
}
#place03 img {
    object-fit: contain;
    width: 60%;
    height: 60%;
}