footer.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #276968;
    padding: 60px 35px;
    color: white;
}

footer a {
    text-decoration: none;
}

.social {
    flex: 1;
}

.social img {
  width: 24px;
  height: 24px;
}

.social p {
    color: #FFFFFF;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.footer-right {
    display: flex;
    gap: 50px;
}

.footer-right h4,
.footer-right p {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    line-height: 1.2;
}

.footer-right h4 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.footer-right p  {
    font-family: "Karla", sans-serif;
    font-weight: 200;
    font-size: 12px;
}

.footer-right p + p {
    margin-top: 6px;
}