.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff; 
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}

.logo { 
    font-size: 22px; 
    font-weight: 700; 
    color: #111; 
}

.nav-links { 
    display: flex; 
    gap: 40px; 
    margin: 0; 
}

.nav-links a { 
    font-size: 15px; 
    transition: color .2s; 
}

.nav-links a:hover, .nav-links a.active { 
    color: #276968; 
}