{% extends "common/base.html" %}
{% load static %}

{% block title %} Route Screen {% endblock %}

{% block body_class %} route {% endblock %}

{% block navbar %} {% endblock %}
{% block footer %} {% endblock %}

{% block extra_css %}
    <link rel = "stylesheet" href = "{% static 'MyTrip.css' %}" >
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
    <nav class="sidebar">
            <!-- Logo hoặc nút Home -->
            <a href="/MainScreen/" class="nav-logo" title="Trang chủ">
                <i class="fa-solid fa-map-location-dot"></i>
            </a>

            <!-- Các công cụ chính -->
            <div class="nav-tools">
                <button class = "nav-item" id = "btn-current-route" title = "Chuyển đi hiện tại">
                    <i class = "fa-solid fa-location-arrow"></i>
                    <span> Hiện tại </span>
                </button>
                
                <button class = "nav-item" id = "btn-history-trip" title = "Lịch sử chuyến đi">
                    <i class="fa-solid fa-history"></i>
                    <span> Lịch Sử </span>
                </button>

            </div>
        </nav>
{% endblock %}

{% block extra_js %}
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>
    <script src="https://unpkg.com/@mapbox/polyline@1.2.1/src/polyline.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src = "{% static 'Mytrip.js' %}"> </script>
{% endblock %}